@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-primary: #cfe0c3;
    --clr-secondary: #9ec1a3;
    --clr-text: #ffffff;
    --clr-text-placeholder: #e6e6e6;
    --clr-accent-darkest: #1f363d;
}

@layer base {
    body {
        @apply flex flex-col justify-center items-center;
    }
    h1,
    h2,
    h3,
    h3,
    h4,
    h5,
    h6,
    span,
    button,
    time,
    input,
    textarea,
    p {
        @apply text-white;
    }
    button {
        @apply cursor-pointer;
    }
    * {
        @apply m-0 p-0 border-none box-border;
    }
}
